.online {
  background-color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.offline {
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
}

li {
  list-style-type: none;
}

.friendList {
  margin-top: 100px;
  background-color: rgb(227, 207, 207);
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.friendItem {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
}
