td {
  background-color: beige;
  border: 1px solid black;
  padding: 15px;
}

.transactionHistory {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  border: 1px solid rgb(233, 233, 223);
}

.tableHead {
  background-color: rgb(55, 226, 226);
}

th {
  color: white;
  text-transform: uppercase;
  width: 200px;
  background-color: rgb(188, 214, 206);
  padding: 15px;
}

td {
  background-color: antiquewhite;
  padding: 5px;
  border: 1px solid rgb(233, 233, 223);
}

tr:nth-child(even) td {
  background-color: #edbbbb; /* Ustaw tutaj wybrany kolor dla komórek w parzystych wierszach */
}
